<li *ngIf="!menuItem.hidden" [title]="menuItem.title" class="menu-list" [ngClass]="{'active': menuItem.expanded}">
    <!-- menu -->
    <a class="menu-list-title" *ngIf="!menuItem.children && !menuItem.url"
       (mouseenter)="onHoverMenuItem($event, item)"
       [routerLink]="menuItem.route.paths">
        <i class="fa text-primary-lt" *ngIf="menuItem.icon" [ngClass]="menuItem.icon"></i>
        <span class="font-bold">{{ menuItem.title }}</span>
    </a>

    <a class="menu-list-title" *ngIf="!menuItem.children && menuItem.url"
       (mouseenter)="onHoverMenuItem($event, item)"
       [href]="menuItem.url" [target]="menuItem.target">
        <i class="fa text-primary-lt" *ngIf="menuItem.icon" [ngClass]="menuItem.icon"></i>
        <span class="font-bold">{{ menuItem.title }}</span>
    </a>

    <a class="menu-list-title" *ngIf="menuItem.children" href
       (mouseenter)="onHoverMenuItem($event, item)"
       (click)="onToggleSubMenu($event, menuItem)">
        <span class="pull-right text-muted">
            <i class="fa fa-fw fa-angle-right" [ngClass]="{'fa-angle-down': menuItem.expanded}"></i>
        </span>
        <i class="fa text-primary-lt" *ngIf="menuItem.icon" [ngClass]="menuItem.icon"></i>
        <span class="font-bold">{{ menuItem.title }}</span>
    </a>

    <!--- sub menu ---->
    <ul class="nav nav-sub dk" *ngIf="menuItem.children">
        <sf-menu-item [menuItem]="subItem"
                      [child]="true"
                      (hoverMenuItem)="onHoverMenuItem($event)"
                      (toggleSubMenu)="onToggleSubMenu($event, subItem)"
                      *ngFor="let subItem of menuItem.children">
        </sf-menu-item>
    </ul>
</li>