<h2>Test/Demo Table Component--sf-table</h2>
<span class="line-dashed"></span>
<pre *ngIf="config.paging.flag" class="card card-block card-header">
    Page: {{config.paging.currentPage}} / {{config.paging.numPages}}   Total Number of Rows: {{rows.length}}</pre>
<sf-table [rows]="rows"
          [columns]="columns"
          [config]="config"
          (rowClicked)="onRowClicked($event)"
          (selectedRows)="onSelectedRows($event)"
          (tableChanged)="onChangeTable($event)"></sf-table>
<pre class="card card-block card-header">Selected Row: <span *ngFor="let select of selectedRows">{{select.name}}, </span></pre>
