<aside class="nav" [ngClass]="app.settings.asideColor">
    <li *ngFor="let menu of menus">
        <a href class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right" [ngClass]="{'text': !showHoverElem, 'text-active': showHoverElem}"></i>
                    <i class="fa fa-fw fa-angle-down" [ngClass]="{'text': showHoverElem, 'text-active': !showHoverElem}"></i>
                </span>
            <i class="fa text-primary-lt" [ngClass]="menu.icon"></i>
            <span class="font-bold">{{ menu.title }}</span>
        </a>
        <ul class="nav dk" *ngFor="let submenu of menu.data">
            <li (click)="clickItem($event)">
                <a href class="auto">
                    <i class="fa" [ngClass]="submenu.icon"></i>
                    <span>{{ submenu.title }}</span>
                </a>
            </li>
        </ul>
    </li>
    <!--<li class="line dk"></li>-->
</aside>